<div class="pull-right">
    <%= link_to("Add a Job", new_admin_job_path, class: "btn btn-primary") %>
</div>
<br><br><br>


<table class="table table-bordered">
  <thead>
      <tr>
          <th> Title</th>
          <th> Resume</th>
          <th> Lower_wage_bound</th>
          <th> Upper_wage_bound</th>
          <th> Option</th>
      </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
          <td>
            <%= render_job_status(job) %>
             <%= link_to(job.title, job_path(job)) %>
           </td>
          <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %></td>
          <td> <%= job.lower_wage_bound %></td>
          <td> <%= job.upper_wage_bound %></td>
          <td>
            <%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-success") %>
            <%= link_to("Delete", admin_job_path(job), method: :delete, :data => { :confirm => "Are you sure?" }, class: "btn btn-danger") %>

            <% if job.is_hidden %>
              <%= link_to("Publish", publish_admin_job_path(job),method: :post, class: "btn btn-success") %>
            <% else %>
              <%= link_to("Hide", hide_admin_job_path(job),method: :post, class: "btn btn-success") %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>

</table>
