<h1> Submit Resume for <%= @job.title %> </h1></hq>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>

<%= f.input :content %>
<%= f.input :attachment %>

<%= f.submit "Submint", class: "btn btn-success" %>


<% end %>
